ol {
  hyphens: auto;
  padding-inline-start: 0;
}

.breadcrumbs-container li {
  display: inline-flex;
  hyphens: auto; /* how text hyphenate when they wrap around */
  column-gap: 0.62857143em;
}

.breadcrumbs-container li > a {
  color: var(--mdc-theme-outline-on-background, #2c2c2c);
}

ol[role="list"] li:not(:last-child)::after {
  content: " \203A ";
  padding-inline-end: 0.3em;
  color: var(--mdc-theme-primary, #9c413d);
}

@media screen and (max-width: 40em) {
  .breadcrumbs-container li {
    display: none;
  }

  /* only show first and last child on mobile */
  .breadcrumbs-container li:is(:first-child, :last-child) {
    display: inline-flex;
  }
}
