body {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header"
    "wrapper"
    "footer";
  gap: 1em;
  grid-template-rows: auto 1fr auto;
}

@media screen and (min-width: 60em) {
  body {
    display: grid;
    height: 100vh;

    grid-template-areas:
      "header"
      "wrapper"
      "footer";
  }
}

/* this wraps main and aside */
.wrapper__collections-aside {
  grid-area: wrapper;
  display: grid;
  gap: 1em;
  grid-template-areas:
    "main"
    "aside";
  grid-template-rows: 1fr auto;
}
@media screen and (min-width: 60em) {
  .wrapper__collections-aside {
    grid-area: wrapper;
    display: grid;
    gap: 1em;
    grid-template-areas: "main main aside";
    grid-template-columns: 3.09fr 3.09fr 3.82fr;
    grid-template-rows: 1fr auto;
  }
}
header {
  grid-area: header;
}

main {
  grid-area: main;
}

/* * aside sidebar */
aside {
  grid-area: aside;
  place-self: center;
}

footer {
  grid-area: footer;
}

/* hero section collections */
.hero-collections__heading {
  filter: alpha(opacity=50);
  text-align: start;
}

.hero-collections__para {
  text-align: start;
}

img.recipes-collections__cards__card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  max-height: -webkit-fill-available;
  object-position: center;
}
.recipes-collections__cards {
  display: grid;
  grid-template-rows: minmax(
    208px,
    0.618fr
  ); /* grid-template-rows: minmax(139px, 0.618fr); */
  gap: 2em;
  align-items: start;
}

@media screen and (min-width: 40em) {
  .recipes-collections__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(170px, 15vw), 0.328fr));
    gap: 1em;
    align-items: start;
  }
}

.recipes-collections__cards__card {
  display: grid;
  grid-template-rows: 147px auto;
  overflow: hidden;
  gap: var(--fs-300);
}

@media screen and (min-width: 40em) {
  .recipes-collections__cards__card {
    align-items: unset;
  }
}
