/* :host * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:host .logo {
  font-size: 1.5rem;
  font-family: Parisienne, cursive;
  transform: rotate(351.65deg);
  --mdc-theme-primary: #9c413d;
  color: var(--mdc-theme-primary);
}

:host .logo a {
  text-decoration: none;
}

:host .logo:hover {
  cursor: pointer;
} */

.logo__wrapper {
  overflow: hidden;
}

span.logo {
  font-family: var(--ff-cursive);
  font-weight: 400;
  font-size: clamp(3.375rem, 1rem + 3.888888vw, 4.752875rem);
  transform: rotate(351.65deg);
  /* ! for demo only */
  display: grid;
  place-items: center;
}

span.logo.mdc-theme--primary > * {
  text-shadow: 0 2px 4px rgb(0 0 0 / 12%);
}

@media screen and (min-width: 40em) {
  span.logo.footer {
    display: inline-block;
    place-items: flex-start;
  }
}
