ol {
  line-height: 1.2;
}

.breadcrumbs-container li {
  display: inline-flex;
  hyphens: auto; /* how text hyphenate when they wrap around */
}

/* .breadcrumb:not(:last-child)::after {
  content: " \203A ";
} */

/* .breadcrumb::after {
  content: " \203A ";
} */
ol[role="list"] li:not(:last-child)::after {
  content: " \203A ";
}

/* .breadcrumb li:not(:first-child)::before {
  content: "→";
} */

@media screen and (max-width: 40em) {
  .breadcrumbs-container li {
    display: none;
  }
  /* only show first and last child on mobile */
  .breadcrumbs-container li:is(:first-child, :last-child) {
    display: inline-flex;
  }
}

.recipe-details {
  grid-auto-flow: column;
  /* grid-template-columns: repeat(10, 1fr); */
}
