:root {
  --ff-cursive: "Parisienne", cursive;
  --ff-sans: "Work Sans", Helvetica, Arial, sans-serif;

  --fs-400: 1.4375rem;

  /* color */
  /* material-theme/sys/light/primary */
  --mdc-theme-primary: #9c413d;
  --mdc-theme-on-primary: #ffffff;
  --mdc-theme-primary-container: #ffdad5;
  --mdc-theme-on-secondary: #ffffff;
  --mdc-theme-secondary-container: #ffdad7;
  --mdc-theme-on-secondary-container: #2c1513;
  --mdc-theme-tertiary: #725b2e;
  --mdc-theme-on-tertiary: #ffffff;
  --mdc-theme-tertiary-container: #ffdea6;
  --mdc-theme-on-tertiary-container: #271900;
  --mdc-theme-error: #ba1b1b;
  --mdc-theme-on-error: #ffffff;
  --mdc-theme-error-container: #ffdad4;
  --mdc-theme-on-error-container: #410001;
  /* color neutrals */
  --mdc-theme-background: #fcfcfc;
  --mdc-theme-on-background: #201a19;
  --mdc-theme-surface: #fcfcfc;
  --mdc-theme-on-surface: #201a19;
  /* color surface */
  --mdc-theme-surface-variant: #f4dddb;
  --mdc-theme-on-surface-variant: #524342;
  --mdc-theme-outline: #857371;
  /* color - read-only/surface/light */
  --mdc-theme-surface1: linear-gradient(
      0deg,
      rgba(156, 65, 61, 0.05),
      rgba(156, 65, 61, 0.05)
    ),
    #fcfcfc; /* +5% Primary */
  --mdc-theme-surface2: linear-gradient(
      0deg,
      rgba(156, 65, 61, 0.08),
      rgba(156, 65, 61, 0.08)
    ),
    #fcfcfc; /* +8`% Primary */
  --mdc-theme-surface3: linear-gradient(
      0deg,
      rgba(156, 65, 61, 0.11),
      rgba(156, 65, 61, 0.11)
    ),
    #fcfcfc; /* +11% Primary */
  --mdc-theme-surface4: linear-gradient(
      0deg,
      rgba(156, 65, 61, 0.12),
      rgba(156, 65, 61, 0.12)
    ),
    #fcfcfc; /* +12% Primary */
  --mdc-theme-surface5: linear-gradient(
      0deg,
      rgba(156, 65, 61, 0.14),
      rgba(156, 65, 61, 0.14)
    ),
    #fcfcfc; /* +14% Primary */
  /* section spacing  */
  --section-spacer: 10.375rem;

  /* animate char on hover */ /* title, display */
  --char-index: 0;
}

/* * */
/* * custom css reset */
/* * */
/* // credit: https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
/* html,
body {
  height: 100%;
} */
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
/* body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
} */
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/* end of custom css reset */

/* * cube css reset */

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-left: 0;
}
html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  ::after,
  ::before {
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}
/* end of cube css resets */

body {
  font-family: var(--ff-sans);
  font-size: var(--fs-400); /* 23px? */
  font-weight: 400;
  margin: 0;
  min-height: 100vh;
  background-color: #fcfcfc;
  background-color: var(--mdc-theme-background, #fcfcfc);
  text-rendering: optimizeSpeed;
  padding-top: unset;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* overflow-x: hidden; */
}

h1,
h2,
h3 {
  line-height: 1.1;
}

p {
  width: clamp(45ch, 50%, 75ch);
}
/* **** */
/* * cube css */
/* **** */

/* * */
/* * 1. composition */

/* * */
/* * 2. utility */

.section-spacer {
  margin-top: var(--section-spacer);
}

.strong {
  font-weight: bold;
}
/* * flow */
.flow > * + *,
.post blockquote > * + * {
  margin-top: var(--flow-space, clamp(1.09rem, 1rem + 0.47vw, 1.33rem));
}

.flow-space-0 {
  --flow-space: 0;
}
.flow-space-300 {
  --flow-space: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
}
.flow-space-400 {
  --flow-space: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
}
.flow-space-500 {
  --flow-space: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
}
.flow-space-600 {
  --flow-space: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
}
.flow-space-700 {
  --flow-space: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
}
.flow-space-800 {
  --flow-space: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
}
.flow-space-900 {
  --flow-space: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
}
.flow-space-1000 {
  --flow-space: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
}
/* end of flow */

/* * gap */
.gap-top-0 {
  margin-top: 0;
}
.gap-top-300 {
  margin-top: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
}
.gap-top-400 {
  margin-top: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
}
.gap-top-500 {
  margin-top: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
}
.gap-top-600 {
  margin-top: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
}
.gap-top-700 {
  margin-top: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
}
.gap-top-800 {
  margin-top: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
}
.gap-top-900 {
  margin-top: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
}
.gap-top-1000 {
  margin-top: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
}
.gap-bottom-0 {
  margin-bottom: 0;
}
.gap-bottom-300 {
  margin-bottom: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
}
.gap-bottom-400 {
  margin-bottom: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
}
.gap-bottom-500 {
  margin-bottom: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
}
.gap-bottom-600 {
  margin-bottom: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
}
.gap-bottom-700 {
  margin-bottom: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
}
.gap-bottom-800 {
  margin-bottom: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
}
.gap-bottom-900 {
  margin-bottom: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
}
.gap-bottom-1000 {
  margin-bottom: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
}
.gap-left-0 {
  margin-left: 0;
}
.gap-left-300 {
  margin-left: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
}
.gap-left-400 {
  margin-left: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
}
.gap-left-500 {
  margin-left: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
}
.gap-left-600 {
  margin-left: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
}
.gap-left-700 {
  margin-left: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
}
.gap-left-800 {
  margin-left: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
}
.gap-left-900 {
  margin-left: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
}
.gap-left-1000 {
  margin-left: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
}
.gap-right-0 {
  margin-right: 0;
}
.gap-right-300 {
  margin-right: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
}
.gap-right-400 {
  margin-right: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
}
.gap-right-500 {
  margin-right: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
}
.gap-right-600 {
  margin-right: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
}
.gap-right-700 {
  margin-right: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
}
.gap-right-800 {
  margin-right: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
}
.gap-right-900 {
  margin-right: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
}
.gap-right-1000 {
  margin-right: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
}
/* end of gap */

/* * widths */

.leading-tight {
  line-height: 1;
}
.measure-long {
  max-width: 65ch;
}
.measure-medium {
  max-width: 58ch;
}
.measure-short {
  max-width: 50ch;
}

/* end of widths */

/* * text font sizes */
.text-0 {
  font-size: 0;
}
.text-300 {
  font-size: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
}
.text-400 {
  font-size: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
}
.text-500 {
  font-size: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
}
.text-600 {
  font-size: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
}
.text-700 {
  font-size: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
}
.text-800 {
  font-size: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
}
.text-900 {
  font-size: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
}
.text-1000 {
  font-size: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
}

/* end of text font sizes */

/* * font-weight */
.weight-regular {
  font-weight: 400;
}
.weight-medium {
  font-weight: 500;
}
.weight-bold {
  font-weight: 700;
}
/* end of font-weight */

/* * typography */
.display-large {
  font-size: clamp(1em, 0.9rem + 14.3472vw, 14.7125rem); /* 221px */
  line-height: 0.8;
  letter-spacing: 1.33px;
}
/* 1.38125x less than large */
.display-medium {
  font-size: clamp(2.65rem, 1rem + 8.6vw, 10rem); /* 160px */
  line-height: 1.4;
}
.display-small {
  font-size: 98.8875px;
  line-height: 224px;
}
/* uppercase and set font weight to 900 */
.display-large,
.display-medium,
.display-small,
.title-large,
.title-medium,
.title-small {
  text-transform: uppercase;
  font-variation-settings: "wght" var(--display-heading-weight, 900);
}

.headline-large {
  font-size: clamp(1.68056rem, 1rem + 4.16667vw, 4.752875rem); /* 76.046px */
  line-height: 1.2;
  color: #201a19;
}
.headline-medium {
  font-family: "Work Sans";
  font-size: 47px;
  line-height: 71px;
}
.headline-small {
  font-family: "Work Sans";
  font-size: clamp(1.68106rem, 1.68106rem + 0.688978vw, 2.3rem); /* 30px */
  line-height: 44px;
}
.headline-large,
.headline-medium,
.headline-small,
.sub-headline-medium {
  font-weight: 700;
}

.sub-headline-medium {
  font-size: clamp(1rem, 0.6rem + 1.025vw, 1.4375rem); /* 23px */
  line-height: 30px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}

.title-large {
  font-size: 120px;
  line-height: 120px;
  letter-spacing: -0.25px;
}
.title-medium {
  font-size: 90px;
  line-height: 72px;
}
.title-small {
  font-size: clamp(1.68056rem, 1rem + 2.75167vw, 3.4765rem); /* 55.6242 */
  line-height: 1.2;
}

.body-large {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.5px;
}
.body-medium {
  font-weight: 400;
  font-size: clamp(1.4375rem, 0.775rem + 0.618vw, 1.4375rem); /* 23px */
  line-height: 30px;
  letter-spacing: 0.25px;
}
.body-small {
  font-weight: 400;
  font-size: clamp(1rem, 0.9rem + 0.25vw, 1.25rem);
  line-height: 1.5;
  letter-spacing: 0.4px;
}

/* * colors material ui */
.mdc-theme--primary {
  color: var(--mdc-theme-primary);
}
.mdc-theme--primary-bg {
  background-color: var(--mdc-theme-on-primary);
}
.mdc-theme--on-primary {
  color: var(--mdc-theme-primary-container);
}
.mdc-theme--on-primary-bg {
  background-color: var(--mdc-theme-on-primary-container);
}

.mdc-theme--secondary {
  color: var(--mdc-theme-secondary);
}
.mdc-theme--secondary-bg {
  background-color: var(--mdc-theme-on-secondary);
}
.mdc-theme--on-secondary {
  color: var(--mdc-theme-secondary-container);
}
.mdc-theme--on-secondary-bg {
  background-color: var(--mdc-theme-on-secondary-container);
}

.mdc-theme--tertiary {
  color: var(--mdc-theme-tertiary);
}
.mdc-theme--tertiary-bg {
  background-color: var(--mdc-theme-on-tertiary);
}
.mdc-theme--on-tertiary {
  color: var(--mdc-theme-tertiary-container);
}
.mdc-theme--on-tertiary-bg {
  background-color: var(--mdc-theme-on-tertiary-container);
}

.mdc-theme--error {
  color: var(--mdc-theme-error);
}
.mdc-theme--error-bg {
  background-color: var(--mdc-theme-on-error);
}
.mdc-theme--on-error {
  color: var(--mdc-theme-error-container);
}
.mdc-theme--on-error-bg {
  background-color: var(--mdc-theme-on-error-container);
}

.mdc-theme--surface {
  color: var(--mdc-theme-surface);
}
.mdc-theme--on-surface {
  background-color: var(--mdc-theme-on-surface);
}

.mdc-theme--background {
  color: var(--mdc-theme-background);
}
.mdc-theme--on-background {
  background-color: var(--mdc-theme-on-background);
}

/* * */
/* * 3. block */

.container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 77.875rem;
}

@media screen and (min-width: 40rem) {
  .container {
    margin: 0 auto;
    /* max-width: 42.875rem; */
    /* max-width: clamp(35.875rem, 90.5vw ,61.188rem); */
    max-width: clamp(35.875rem, 88.101vw, 61.188rem);
    padding: 0 1em;
  }
}
@media screen and (min-width: 60rem) {
  .container {
    margin: 0 auto;
    max-width: clamp(42.875rem, 87.5vw, 61.188rem);
    padding: 0 1em;
  }
}
@media screen and (min-width: 70rem) {
  .container {
    margin: 0 auto;
    /* max-width: 77.875rem; */
    /* max-width: clamp(56.188rem, 87vw, 77.875rem); */
    /* ! for demo 4k */
    max-width: clamp(56.188rem, 87vw, 101.75rem);
    padding: 0 1em;
  }
}

/* * */
/* * 4. exceptions */

/* end of cube css */

/* * */
/* * custom styling */
/* * */

/* * header */

span.logo {
  font-family: var(--ff-cursive);
  font-weight: 400;
  /* transform: rotate(345deg); */
  /* font-size: 72px; */
  font-size: clamp(3.375rem, 1rem + 3.888888vw, 4.752875rem);
  /* rotate: -8.35deg; */
  /* 351.65deg */
  transform: rotate(351.65deg);
  /* ! for demo only */
  display: grid;
  place-items: center;
}

@media screen and (min-width: 40em) {
  span.logo.footer {
    display: inline-block;
    place-items: flex-start;
  }
}

/* nav title */
div.nav__heading .char,
h1.nav__heading {
  /* font-family:var(--font-display); */
  letter-spacing: -0.19ch;
}
.nav__heading.display-large.char:hover {
  --display-heading-weight: 600;
  transition-delay: 100ms; /* 0s */
  letter-spacing: -0.21ch;
}
.nav__heading .display-large .char {
  transition: 0.3s cubic-bezier(0.45, 0.05, 0.22, 1.3);
  transition-delay: 0.2s;
  cursor: ew-resize;
}
/* * section - recipes - kitchen */
.recipes__wrapper__contant__nutrition__item > * {
  font-size: 16px;
}
.recipes__wrapper__contant__nutrition__item > * + * {
  font-weight: bold;
}
