:root {
  --ff-cursive: "Parisienne", cursive;
  --ff-sans: "Work Sans", Helvetica, Arial, sans-serif;

  --fs-400: 1rem;

  /* color */
  /* material-theme/sys/light/primary */
  --primary: #9c413d;
  --on-primary: #ffffff;
  --primary-container: #ffdad5;
  --on-primary-container: #410003;
  --secondary: #775653;
  --on-secondary: #ffffff;
  --secondary-container: #ffdad7;
  --on-secondary-container: #2c1513;
  --tertiary: #725b2e;
  --on-tertiary: #ffffff;
  --tertiary-container: #ffdea6;
  --on-tertiary-container: #271900;
  --error: #ba1b1b;
  --on-error: #ffffff;
  --error-container: #ffdad4;
  --on-error-container: #410001;
  /* color neutrals */
  --background: #fcfcfc;
  --on-background: #201a19;
  --surface: #fcfcfc;
  --on-surface: #201a19;
  /* color surface */
  --surface-variant: #f4dddb;
  --on-surface-variant: #524342;
  --outline: #857371;
  /* color - read-only/surface/light */
  --surface1: linear-gradient(
      0deg,
      rgba(156, 65, 61, 0.05),
      rgba(156, 65, 61, 0.05)
    ),
    #fcfcfc; /* +5% Primary */
  --surface2: linear-gradient(
      0deg,
      rgba(156, 65, 61, 0.08),
      rgba(156, 65, 61, 0.08)
    ),
    #fcfcfc; /* +8`% Primary */
  --surface3: linear-gradient(
      0deg,
      rgba(156, 65, 61, 0.11),
      rgba(156, 65, 61, 0.11)
    ),
    #fcfcfc; /* +11% Primary */
  --surface4: linear-gradient(
      0deg,
      rgba(156, 65, 61, 0.12),
      rgba(156, 65, 61, 0.12)
    ),
    #fcfcfc; /* +12% Primary */
  --surface5: linear-gradient(
      0deg,
      rgba(156, 65, 61, 0.14),
      rgba(156, 65, 61, 0.14)
    ),
    #fcfcfc; /* +14% Primary */
  /*  */
  --section-spacer: 10.375rem;

  /* animate char on hover */ /* title, display */
  --char-index: 5;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--ff-sans);
  font-size: 1.4375em; /* 23px? */

  text-rendering: optimizeSpeed;
  padding-top: unset;

  /* overflow-x: hidden; */
}

.container {
  margin: 0 auto;
  max-width: 54.2em;
  padding: 0 1em;
}

.flow-section {
  margin-top: var(--section-spacer);
}

/* * typography */
.display-large {
  /* font-weight: 900; */
  /* font-size: 221px; */
  font-size: clamp(1em, 0.9rem + 14.3472vw, 14.7125rem);
  /* line-height: 259px; */
  line-height: 0.8;
  letter-spacing: 1.33px;
  text-transform: uppercase;
  font-variation-settings: "wght" var(--display-heading-weight, 900);
}
/* 1.38125x less than large */
.display-medium {
  font-weight: 900;
  /* font-size: 160px; */
  /* font-size: clamp(3.75rem , 1rem + 10vw, 10rem); */
  font-size: clamp(2.65rem, 1rem + 8.6vw, 10rem);
  /* line-height: 224px; */
  line-height: 1.4;
  text-transform: uppercase;
}

.display-small {
  font-weight: 900;
  font-size: 98.8875px;
  line-height: 224px;
}

.headline-large {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  /* font-size: 76.046px; */
  /* font-size: 4.752875rem; */
  font-size: clamp(1.68056rem, 1rem + 4.16667vw, 4.752875rem);
  line-height: 1.2;
  color: #201a19;
}

.headline-medium {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 71px;
}

.headline-small {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  /* font-size: 36.8182px; */
  font-size: clamp(1.68106rem, 1.68106rem + 0.688978vw, 2.3rem);
  line-height: 44px;
  /* font-size: 30px;
  line-height: 36px; */
}

.sub-headline-medium {
  font-size: clamp(1rem, 0.6rem + 1.025vw, 1.4375rem); /* 23px */
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}

.title-large {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 120px;
  line-height: 120px;

  letter-spacing: -0.25px;
  text-transform: uppercase;
}

.title-medium {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 90px;
  line-height: 72px;
  text-transform: uppercase;
}

.title-small {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 900;
  /* font-size: 55.6242px; */
  font-size: clamp(1.68056rem, 1rem + 2.75167vw, 3.4765rem);
  line-height: 1.2;
  text-transform: uppercase;
}

.body-large {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.body-medium {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  /* font-size: 23px; */
  font-size: clamp(1.4375rem, 0.775rem + 0.618vw, 1.4375rem);
  line-height: 30px;
  letter-spacing: 0.25px;
}

.body-small {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1rem, 0.9rem + 0.25vw, 1.25rem);
  line-height: 1.5;
  letter-spacing: 0.4px;
}

/* * css reset */
/* // credit: https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
/* html,
body {
  height: 100%;
} */
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* * composition */

/* * utility */

.strong {
  font-weight: bold;
}

/* * block */

/* * exceptions */

/* * */
/* * custom styling */
/* * */

/* * header */
span.logo {
  font-family: var(--ff-cursive);
  font-weight: 400;
  /* transform: rotate(345deg); */
  /* font-size: 72px; */
  font-size: clamp(3.375rem, 1rem + 3.888888vw, 4.752875rem);
  /* rotate: -8.35deg; */
  /* 351.65deg */
  transform: rotate(351.65deg);
  /* ! for demo only */
  display: grid;
  place-items: center;
}

/* nav title */
div.nav__heading .char,
h1.nav__heading {
  /* font-family:var(--font-display); */
  letter-spacing: -0.19ch;
}
.nav__heading.display-large.char:hover {
  --display-heading-weight: 600;
  transition-delay: 100ms; /* 0s */
  letter-spacing: -0.21ch;
}
.nav__heading .display-large .char {
  transition: 0.3s cubic-bezier(0.45, 0.05, 0.22, 1.3);
  transition-delay: 0.2s;
  cursor: ew-resize;
}
/* * section - recipes - kitchen */
.recipes__wrapper__contant__nutrition__item > * {
  font-size: 16px;
}
.recipes__wrapper__contant__nutrition__item > * + * {
  font-weight: bold;
}
