<div class="featured__images">
            <div class="featured__images__image | media-scroller snaps-inline">
              <div class="featured__image | media-element">
                <img
                  src="https://source.unsplash.com/534x460"
                  width="534"
                  height="460"
                  alt=""
                />
              </div>
              <div class="featured__image | media-element">
                <img
                  src="https://source.unsplash.com/534x460"
                  width="534"
                  height="460"
                  alt=""
                />
              </div>
              <div class="featured__image | media-element">
                <img
                  src="https://source.unsplash.com/534x460"
                  width="534"
                  height="460"
                  alt=""
                />
              </div>
              <div class="featured__image | media-element">
                <img
                  src="https://source.unsplash.com/534x460"
                  width="534"
                  height="460"
                  alt=""
                />
              </div>
            </div>
          </div>
