# Allowlist 'test.js' in the '.build' folder
# But do not allow anything else in the '.build' folder to be linted
!.build
.build/*
!.build/test.js

# Allowlist 'test.js' in the 'dist' folder
# But do not allow anything else in the 'dist' folder to be linted
!dist
dist/*
!dist/test.js

# Storybook
src/stories

netlify/
