# VS Code
.vscode/settings.json

# node_modules
node_modules/

# environment variables
.env

# databases
database.db

# renovate bot dependency management ci
renovate.json

# ------------------------------------------------------------------------------

# drafting
notes.md
archive/
