.grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    gap: 40px;

    &__main {
        display: grid;
        background-color: hsl(240, 100%, 50%);
    }

    &__sidebar {
        color: hsl(300, 100%, 55%);
    }
}
