:root {
  /* font-family */
  --ff-cursive: "Parisienne", cursive;
  --ff-sans: "Work Sans", helvetica, arial, sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.1;
  margin-top: 0;
}

h3 {
  margin: 0;
  opacity: 0.5;
  letter-spacing: 2px;
}

p {
  min-width: 12ch;
  margin-top: 0;
}

.joke {
  color: darkslategrey; /* works! */
}

a,
a:visited,
a:active {
  color: var(--mdc-theme-primary);
  text-decoration: none;
}
